
/* TOP SCROLL BLACK BAR */
.sony-logo-bar {
    width: 100%;
    height: 35px;
    background-color: black;
    text-align: right;
}

.sony-logo {
    background-image: url(../img/sony_logo.svg);
    width: 70px;
    height: 100%;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

/* HEADER */


/* JUMBOTRON */
#jumbotron {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    height: 600px;
    background-repeat: no-repeat;
}

.wrapper-jumbo {
    padding-top: 220px;
}

#jumbotron .img img {
    width: 300px;
}